extends layout
block content
    h1 #{title}
    h3 Big Data 6513 Project 1
    a(href="https://github.com/dchu1/BigDataP1_WebApp") Github Repo for Web App
    br
    a(href="https://github.com/dchu1/bigdatap1_funcs") Github Repo for REST services
    p This web app is used to call my REST services for my Big Data 6513 Project 1. Please view the Github Repo's for the readmes